<form (ngSubmit)="handleResetPassword()" class="reset-password-form">
    <h5 class="title">Set Password
    </h5>
    <div class="mt-3 px-4 password-field-container">
        <input [type]="isPassword ? 'text' : 'password' " class="form-control p-2 input" name="newPassword"
            id="newPassword" placeholder="New Password" [(ngModel)]="resetPassword.newPassword" required>
        <i class="fa fa-lock px-4" aria-hidden="true"> </i>

        <i class="fa fa-email px-4 " [ngClass]="{'fa-eye': !isPassword , 'fa-eye-slash': isPassword}"
            (click)="isPassword = !isPassword"> </i>

    </div>


    <div class="mt-3 px-4 password-field-container">
        <input [type]="isconfirmPassword ? 'text' : 'password' " class="form-control p-2 input"
            [ngClass]="{'border border-danger':(resetPassword.confirmNewPassword != resetPassword.newPassword)}"
            name="confirmNewPassword " id="confirmNewPassword" placeholder="Confirm Password"
            [(ngModel)]="resetPassword.confirmNewPassword" required>
        <i class="fa fa-lock px-4" aria-hidden="true"> </i>

        <i class="fa fa-email px-4 " [ngClass]="{'fa-eye': !isconfirmPassword , 'fa-eye-slash': isconfirmPassword}"
            (click)="isconfirmPassword = !isconfirmPassword"> </i>

    </div>

    <div *ngIf="resetPassword.confirmNewPassword != resetPassword.newPassword "
        class="text-danger rounded px-4 error-message ">
        Confirm password does not match with new password.
    </div>

    <div class="px-4 mt-3">
        <input type="submit" class="btn btn-warning btn-lg form-control reset-button" [value]="'Create Password'"
            [disabled]="handleCheckPWD()" />
    </div>
</form>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="line-spin-fade" [fullScreen]="true">
</ngx-spinner>