<div class="container card mt-4 pt-4 h-100">

    <div class="breadcrumb-container  mb-3">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-link">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/market-place']">MarketPlace</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a>Transactions</a>
                </li>
            </ol>
        </nav>

    </div>

    <div class="d-flex gap-5 mt-4 mb-3 align-items-center">
        <div>
            <input type="search" id="searchParam" name="searchParam" class="form-control" [(ngModel)]="searchParam"
                (ngModelChange)="handleChange()" />
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th *ngFor="let item of transactionsMethodsColumns ; index as i " class="text-secondary ">{{item}}
                    </th>
                </tr>
            </thead>
            <tbody class="my-listing-table-body text-secondary" id="accordion">
                <ng-container *ngFor=" let transaction of transactionsMethodsData | paginate
            : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };
        let i = index">
                    <tr>
                        <td>{{transaction?.account?.accountName}}</td>

                        <td id="heading{{i}}">
                            <span data-toggle="collapse" [attr.data-target]="'#collapse'+i" aria-expanded="false"
                                [attr.aria-controls]="'collapse'+i" class=" collapsed pe-auto transactions-methods"
                                title="Methods details">

                                {{transaction?.json_fields?.type}}</span>
                        </td>

                    </tr>
                    <tr id="collapse{{i}}" class=" collapse fade" [attr.aria-labelledby]="'heading'+i"
                        data-parent="#accordion">
                        <td [attr.colspan]="2">

                            <div class="card-body border shadow-lg p-4 mb-5 bg-white rounded">

                                <app-eckard-transactions-methods-details (handleSubmit)="handleUpdate()" [index]="i" [transaction]="transaction">
                                </app-eckard-transactions-methods-details>


                            </div>
                        </td>
                    </tr>

                </ng-container>

            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center">
        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
        </pagination-controls>
    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="line-spin-fade" [fullScreen]="true">
</ngx-spinner>