<div class="container card mt-4 pt-4 h-100">

    <div class="breadcrumb-container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-link">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/market-place']">MarketPlace</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a> My Pending
                        Transactions
                    </a> </li>
            </ol>
        </nav>

    </div>

    <div class="d-flex gap-5 mt-4 mb-3 align-items-center">

        <div class="d-inline-block mr-2">
            <h3>Pending Transactions</h3>
        </div>
        <div class="d-inline-block pe-auto list-type-heading ml-2" (click)="toggleListing('Buy')">
            <span [ngClass]="{'list-underline': transactionStatus =='Buy'}">Buying Transactions</span>
        </div>
        <div class="d-inline-block pe-auto  list-type-heading ml-2" (click)="toggleListing('Sell')">
            <span [ngClass]="{'list-underline': transactionStatus =='Sell'}">Selling Transactions</span>
        </div>


    </div>

    <table class="table">
        <thead>
            <tr>
                <th *ngFor="let item of transactionColumns;index as i" class="text-secondary"
                    [ngClass]="{'text-end': i > 2 }">{{item}}</th>
            </tr>
        </thead>
        <tbody class="my-listing-table-body">
            <ng-container>

                <tr *ngFor="let list of myTransactions | paginate
                : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index">

                </tr>

            </ng-container>



        </tbody>
    </table>
    <div class="d-flex justify-content-center" *ngIf="handleMyTransactionsLength() > 0">
        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
        </pagination-controls>
    </div>
</div>