<ng-container *ngIf="createNewListing.listing_type">

    <ng-container *ngIf="createNewListing.listing_type == 1">
        <div class="row mt-4">

            <div class="col-md-6">
                <label for="account" class="form-label">Account <span class="text-danger">*</span></label>
                <select id="account" class="form-select" [(ngModel)]="createNewListing.account"
                    (ngModelChange)="handleChange('account')" #account="ngModel"
                    [ngClass]="{'border border-danger':account.invalid && (account.dirty || account.touched)}" required
                    [disabled]="!isListDraft">
                    <option *ngFor="let item of accountsOptions " [value]="item.id">{{item.accountName}} </option>
                </select>

                <span *ngIf="account.invalid && (account.dirty || account.touched ) &&  account.errors"
                    class="text-danger rounded px-4 error-message">
                    Please select valid account
                </span>
            </div>
            <div class="col-md-6" *ngIf="handleProjectLength() > 0">
                <div class="d-flex">

                    <label for="project" class="form-label">Project <span class="text-danger">*</span></label>
                    <label class="text-primary ml-auto"><a *ngIf="createNewListing.project"> Map <i
                                class="fa fa-user"></i></a></label>

                </div>


                <select id="project" class="form-select" [(ngModel)]="createNewListing.project"
                    (ngModelChange)="handleChange('project')" #project="ngModel"
                    [ngClass]="{'border border-danger':project.invalid && (project.dirty || project.touched)}" required
                    [disabled]="!isListDraft">
                    <option *ngFor="let item of projectsOptions " [value]="item.id">{{item.projectId}}
                    </option>
                </select>
                <span *ngIf="project.invalid && (project.dirty || project.touched ) &&  project.errors"
                    class="text-danger rounded px-4 error-message">
                    Please select valid project
                </span>
            </div>
        </div>
        <div class="mt-3 row" *ngIf="createNewListing.project">

            <div class=" col-md-6">
                <label for="nma" class="form-label">NMA Listed <small class="text-muted" *ngIf="isListDraft">(available:
                        <ng-container *ngIf="incomeListing">{{incomeListing.availableNma}}</ng-container>
                        NMA)
                    </small> <span class="text-danger">*</span></label>
                <input type="number" class="form-control" [(ngModel)]="createNewListing.nma"
                    (change)="handleChange('nma')" id="nma" name="nma" #nma="ngModel"
                    [ngClass]="{'border border-danger': nma.invalid && (nma.dirty || nma.touched) ||  handleIsValidNma() && !(isListEdit && !isListDraft) }"
                    required [disabled]="!isListDraft">
                <span
                    *ngIf="nma.invalid && (nma.dirty || nma.touched ) &&  nma.errors || handleIsValidNma() && !(isListEdit && !isListDraft)"
                    class="text-danger rounded px-4 error-message">
                    Please enter valid NMA
                </span>

            </div>
            <div class="col-6 d-flex flex-column pt-4" *ngIf="listingCost && createNewListing.nma">
                <div class="align-items-center text-secondary">
                    <small>Listing Cost:
                        {{(listingCost.costPerNma*createNewListing.nma) |
                        currency:'CAD':'symbol-narrow':'.2-2'}} ({{listingCost.costPerNma |
                        currency:'CAD':'symbol-narrow':'.2-2'}} per NMA)</small>
                </div>
                <div class="align-items-center text-secondary">
                    <small *ngIf="incomeListing">Listing Income To Date:
                        {{((incomeListing.incomeToDate/incomeListing.totalNma)*createNewListing.nma) |
                        currency:'CAD':'symbol-narrow':'.2-2'}}
                        ({{(((incomeListing.incomeToDate/incomeListing.totalNma)*createNewListing.nma)/(listingCost.costPerNma*createNewListing.nma
                        )) | percent:'.2-2'}} ROI) </small>
                </div>


            </div>


        </div>
    </ng-container>
    <ng-container *ngIf="createNewListing.listing_type == 2 ">

        <ng-container *ngIf="handleTractLength() > 0">
            <p class="mt-4 "><strong>Tracts in Listing ({{handleTractLength()}})</strong> </p>
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-secondary" scope="col" *ngFor="let item of listingColumns;">{{item}}
                        </th>
                    </tr>
                </thead>
                <tbody class="my-listing-table-body">
                    <tr *ngFor="let tract of tracts">
                        <td> <span class="tract-td">{{tract.tractId}}</span></td>
                        <td></td>
                        <td>{{tract.country}}, {{tract.state}}</td>
                        <td></td>
                        <td>{{tract.royalityInterest}}%</td>
                        <td>{{tract.costPerNma}}</td>
                        <td>0.7434</td>
                        <td><span class="tract-td float-end">All</span></td>
                        <td class="text-muted">100%</td>
                        <td> 1,232.09</td>
                    </tr>
                    <tr>
                        <th colspan="5"> Cost of Listed Tracts : $10,534.98 </th>
                        <td>0.7434</td>
                        <td>0.8377</td>
                        <td class="text-end">0.2323</td>
                        <td>test</td>
                        <td> 1,232.09</td>
                        <td> 29%</td>
                        <td> ROI</td>

                    </tr>

                </tbody>
            </table>
        </ng-container>

        <ng-container *ngIf="handleTractLength() == 0">
            <p class="text-warning"><strong>Please go to
                    <span class=" pe-auto border-bottom border-warning" (click)="handleRemoveAndAddClass()"
                        title="Add New Tracts">
                        Add Tracts</span> to identify specific
                    Tracts to be added to
                    this Listing</strong>

            </p>
        </ng-container>

    </ng-container>
    <ng-container *ngIf="!(handleTractLength() == 0 && createNewListing.listing_type == 2)">
        <ng-container *ngIf="createNewListing.project && createNewListing.nma">
            <div class="mt-3 row ">

                <div class=" col-md-6">
                    <label for="minimumAsk" class="form-label">{{createNewListing.auction_type == 5 ?
                        'Fix Price' : 'Minimum Asking Price'}} <span class="text-danger">*</span></label>
                    <input class="form-control " currencyMask
                        [options]="{ prefix: '$', thousands: ',',precision: !isListDraft ? 2 : 0, align:'left', allowNegative: false}"
                        [(ngModel)]="createNewListing.minimumAsk" (change)="handleChange('minimumAsk')"
                        name="minimumAsk" id="minimumAsk" #minimumAsk="ngModel"
                        [ngClass]="{'border border-danger':minimumAsk.invalid && (minimumAsk.dirty || minimumAsk.touched)}"
                        required [disabled]="!isListDraft">
                    <span *ngIf="minimumAsk.invalid && (minimumAsk.dirty || minimumAsk.touched ) &&  minimumAsk.errors"
                        class="text-danger rounded px-4 error-message">
                        {{createNewListing.auction_type == 5 ? 'Please enter Fix Price' :
                        'Please enter Minimum Asking Price'}}
                    </span>
                </div>
                <div class="col-6 d-flex flex-column pt-4"
                    *ngIf="listingCost && createNewListing.nma && createNewListing.minimumAsk">
                    <div class="align-items-center text-secondary">
                        <small>
                            {{(createNewListing.minimumAsk/createNewListing.nma) |
                            currency:'CAD':'symbol-narrow':'.2-2'}} per NMA</small>
                    </div>
                    <div class="align-items-center text-secondary">
                        <small *ngIf="incomeListing">Profit on Exit:
                            {{ (createNewListing.minimumAsk -
                            (listingCost.costPerNma*createNewListing.nma)) |
                            currency:'CAD':'symbol-narrow':'.2-2'}}, Total Profit: {{(((createNewListing.minimumAsk -
                            (listingCost.costPerNma*createNewListing.nma)) +
                            ((incomeListing.incomeToDate/incomeListing.totalNma)*createNewListing.nma))) |
                            currency:'CAD':'symbol-narrow':'.2-2'}}
                            ({{ ((((createNewListing.minimumAsk -
                            (listingCost.costPerNma*createNewListing.nma)) +
                            ((incomeListing.incomeToDate/incomeListing.totalNma)*createNewListing.nma)))/(listingCost.costPerNma*createNewListing.nma))
                            | percent:'.2-2'}} ROI)
                        </small>
                    </div>


                </div>


            </div>
            <ng-container *ngIf="createNewListing.auction_type == 3 || createNewListing.auction_type == 4">
                <div class="mt-3 row ">

                    <div class=" col-md-6">
                        <label for="Immediatly" class="form-label"> Buy Immediatly Price <span
                                class="text-danger">*</span></label>
                        <p class="font-italic my-0"><small>Transaction will trigger immediatly if a Buyer offers the
                                'Buy
                                Immediatly'
                                price</small></p>
                        <input class="form-control text-start" [(ngModel)]="createNewListing.immediatePrice"
                            (change)="handleChange('immediatePrice')" name="immediatePrice" id="immediatePrice"
                            #immediatePrice="ngModel"
                            [ngClass]="{'border border-danger':immediatePrice.invalid && (immediatePrice.dirty || immediatePrice.touched)}"
                            required [disabled]="!isListDraft" currencyMask
                            [options]="{ prefix: '$', thousands: ',', precision: !isListDraft ? 2 : 0, align:'left', allowNegative: false}">
                        <span
                            *ngIf="immediatePrice.invalid && (immediatePrice.dirty || immediatePrice.touched ) &&  immediatePrice.errors"
                            class="text-danger rounded px-4 error-message">

                            Please enter Buy Immediatly Price
                        </span>
                    </div>
                    <div class="col-6 d-flex flex-column pt-5 m-auto"
                        *ngIf="listingCost && createNewListing.nma && createNewListing.immediatePrice">
                        <div class="align-items-center text-secondary">
                            <small>
                                {{(createNewListing.immediatePrice/createNewListing.nma) |
                                currency:'CAD':'symbol-narrow':'.2-2'}} per NMA</small>
                        </div>
                        <div class="align-items-center text-secondary">
                            <small *ngIf="incomeListing">Profit on Exit:
                                {{ (createNewListing.immediatePrice -
                                (listingCost.costPerNma*createNewListing.nma)) |
                                currency:'CAD':'symbol-narrow':'.2-2'}}, Total Profit:
                                {{(((createNewListing.immediatePrice
                                -
                                (listingCost.costPerNma*createNewListing.nma)) +
                                ((incomeListing.incomeToDate/incomeListing.totalNma)*createNewListing.nma))) |
                                currency:'CAD':'symbol-narrow':'.2-2'}}
                                ({{ ((((createNewListing.immediatePrice -
                                (listingCost.costPerNma*createNewListing.nma)) +
                                ((incomeListing.incomeToDate/incomeListing.totalNma)*createNewListing.nma)))/(listingCost.costPerNma*createNewListing.nma))
                                | percent:'.2-2'}} ROI)
                            </small>
                        </div>


                    </div>


                </div>
            </ng-container>

            <div class="mt-5 row">
                <div class="col-12 p-0 d-flex">

                    <div class="accordion accordion-flush col-10 pt-1" id="listingAccordion">
                        <div class="accordion-item">
                            <h5 class="accordion-header collapsed p-0 est-cashflow " id="listing-headingOne"
                                data-toggle="collapse" data-target="#listing-collapseOne" aria-expanded="false"
                                aria-controls="listing-collapseOne">
                                Basic CashFlow Calculator<sup>*)</sup>

                                <strong class="small float-end fw-bold est-cashflow" *ngIf="isRecalculate">
                                    Est. CashFlow: {{calculateTotalCashFlow |
                                    currency:'CAD':'symbol-narrow':'.2-2'}}</strong>
                            </h5>
                            <div id="listing-collapseOne" class="accordion-collapse collapse pt-2"
                                aria-labelledby="listing-headingOne" data-parent="#listingAccordion">
                                <small class="px-3">*) using exponential decline curve with editable
                                    parameters below
                                </small>
                                <div class="accordion-body  d-flex px-0 pt-4 w-100">

                                    <div class="d-flex flex-column col">
                                        <div>
                                            <label for="noOfMonths" class="form-label"># of
                                                Months</label>

                                            <input type="number" min="0" oninput="validity.valid||(value='');"
                                                class="form-control" aria-label="# of Months"
                                                [(ngModel)]="basicCashFlow.noOfMonths" id="noOfMonths"
                                                name="noOfMonths">
                                        </div>
                                        <!-- <div class="d-flex justify-content-between mt-1 align-items-center">
                                            <div>
                                                <a class="text-secondary">
                                                    <i class="fa fa-refresh" aria-hidden="true"></i></a>


                                            </div>
                                            <div class="text-end">
                                                <div></div>
                                                <div></div>
                                            </div>

                                        </div> -->
                                    </div>
                                    <div class="d-flex flex-column col">
                                        <div>

                                            <label for="expectedOutputDecline" class="form-label">Exp. Decline[%]
                                            </label>

                                            <input type="number" class="form-control"
                                                aria-label="Expected Output Decline(%)" min="0"
                                                [(ngModel)]="basicCashFlow.decline" id="decline" name="decline">
                                        </div>
                                        <!-- <div class="d-flex justify-content-between mt-1 align-items-center">

                                            <div class="">
                                                <div>Tracts Selected</div>
                                                <div>Estimated Cash Flow</div>
                                            </div>

                                        </div> -->
                                    </div>
                                    <div class="d-flex flex-column col">
                                        <div>
                                            <label for="oilPrice" class="form-label">Oil Price [BBL]
                                            </label>

                                            <input type="number" min="0" class="form-control" aria-label="Oil Price"
                                                [(ngModel)]="basicCashFlow.oilPrice" id="oilPrice" name="oilPrice">
                                        </div>
                                        <!-- <div class="d-flex justify-content-between mt-1 align-items-center">

                                            <div class="">
                                                <div>NMA</div>
                                                <div>Cash Flow / NMA</div>
                                            </div>

                                        </div> -->
                                    </div>
                                    <div class="d-flex flex-column col">
                                        <div>

                                            <label for="gasPrice" class="form-label">Gas Price [MCF]
                                            </label>

                                            <input type="number" min="0" class="form-control" aria-label="Gas Price"
                                                [(ngModel)]="basicCashFlow.gasPrice" id="gasPrice" name="gasPrice">

                                        </div>

                                        <!-- <div class="text-end mt-1 align-items-center">

                                            <div class="text-end float-end">
                                                <div>0.7675</div>
                                                <div>15,684.00</div>
                                            </div>

                                        </div> -->
                                    </div>

                                    <div class=" m-auto col pt-3">
                                        <span for="default"
                                            class="form-label d-inline-block text-primary pe-auto border-bottom border-primary"
                                            (click)="handleSaveAsDefault(basicCashFlow)"
                                            *ngIf="basicCashFlow.gasPrice !=null && basicCashFlow.oilPrice!=null && basicCashFlow.noOfMonths !=null&& basicCashFlow.decline !=null">
                                            Save as Default
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                    <div class="col">
                        <strong for="recalculate"
                            class=" small est-cashflow  d-inline-block text-primary pe-auto border-bottom border-primary"
                            (click)="handleCalculateCashFlow()">
                            Re/Calculate
                        </strong>
                    </div>

                </div>
            </div>
        </ng-container>

    </ng-container>


</ng-container>