<div class="container p-4">

    <ul class="nav nav-tabs w-25 border-0 bg-white market-tabs" id="myTab" role="tablist">

        <div class="breadcrumb-container mx-auto pt-1">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-link">
                    <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                    <li class="breadcrumb-item active"><a [routerLink]="['/market-place']">MarketPlace</a></li>

                </ol>
            </nav>

        </div>

        <div class="d-flex justify-content-between w-100 p-1">
            <div class="m-0">
                <h4>MAXT123</h4>
            </div>
            <div class="text-danger">inactive</div>
        </div>

    </ul>

    <div class="tab-content card border-0 mb-4" id="myTabContent">
        <div class="tab-pane fade show active" id="marketPlace" role="tabpanel" aria-labelledby="home-tab">
            <div class="d-flex justify-content-start mb-2">
                <div class="w-25 p-4">
                    <h5>Buyer </h5>

                </div>
                <div class="p-4">
                    <div class="mb-3">
                        <a class="marketplace-items disabled" [routerLink]="['/my-bids']">My Bids
                        </a>(2)
                    </div>
                    <div class="mb-3">
                        <a class="marketplace-items" [routerLink]="['/buyer-transactions']">Pending/Closed Transactions
                        </a>(1)
                    </div>

                    <div>
                        <a class="marketplace-items" [routerLink]="['/buyer-notifications']">Notifications </a>(5)
                    </div>

                </div>
            </div>

            <div class="d-flex justify-content-start mb-2">
                <div class="w-25 p-4">
                    <h5>Seller</h5>

                </div>
                <div class="p-4">
                    <div class="mb-3">
                        <a class="marketplace-items" [routerLink]="['/my-listing']">My Listings </a>(1)
                    </div>
                    <div class="mb-3">
                        <a class="marketplace-items" [routerLink]="['/seller-transactions']">Pending/Closed Transactions
                        </a>(5)
                    </div>

                    <div>
                        <a class="marketplace-items" [routerLink]="['/seller-notifications']">Notifications </a>(9)
                    </div>

                </div>
            </div>

            <div class="d-flex justify-content-start mb-2">
                <div class="w-25 p-4">
                    <h5> Information </h5>

                </div>
                <div class="p-4">
                    <div class="mb-3">
                        <a class="marketplace-items" [routerLink]="['/sec-disclosure']">SEC Disclosure </a>
                    </div>


                    <div>
                        <a class="marketplace-items" [routerLink]="['/user-agreement']">User Agreement </a>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>