.breadcrumb {
    border-bottom: 2px solid #0a2b3c;

}

.marketplace-item {
    display: flex;
    justify-content: start;

}

.marketplace-items {
    text-decoration: none;
    color: #0a2b3c;
    border-bottom: 2px solid #0a2b3c;

}

.breadcrumb-link {
    border-bottom: 2px solid #0a2b3c;
    display: inline-flex;
}

.breadcrumb-container a {
    text-decoration: none;
    color: #0a2b3c;
}

.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.isDisabled>a {
    color: currentColor;
    display: inline-block;
    /* For IE11/ MS Edge bug */
    pointer-events: none;
    text-decoration: none;
}