<div class="container card mt-4 pt-4 h-100">
    <div class="tab-content " id="myTabContent">
        <div class="breadcrumb-container mb-4">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-link">
                    <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/market-place']">MarketPlace</a></li>

                </ol>
                <div class="d-flex justify-content-between text-center align-items-center col-lg-3 col-md-4 px-0">
                    <!-- <div class="m-0">
                        <h4>MAXT123</h4>
                    </div> -->

                    <div class="text-danger" *ngIf="!isActiveUser">
                        <strong>inactive</strong>
                    </div>
                </div>
            </nav>


        </div>
        <div class="tab-pane fade show active mt-4  " id="marketPlace" role="tabpanel" aria-labelledby="home-tab">
            <div class="d-flex flex-row">
                <div class="mb-2 col-6">
                    <div class="w-25">
                        <h5>Buyer </h5>
                    </div>
                    <div class="">
                        <div class="mb-3 card d-flex w-75 shadow-sm p-3 mb-2 bg-white pe-auto rounded justify-content-between flex-row p-2 align-items-center "
                            [ngClass]="{'isDisabled':!isActiveUser}" [routerLink]="['/all-active-listing']">
                            <div>
                                <img src="assets/tag.svg" width='24' height="24" class="m-1" alt="chevron-right" />
                                <a class="marketplace-items ">All Active Listings
                                </a>({{allActiveOffers}})
                            </div>
                            <div>
                                <img src="assets/chevron-right.svg" width='20' height="24" class="m-1"
                                    alt="chevron-right" />
                            </div>
                        </div>
                        <div class="mb-3 card d-flex w-75 shadow-sm p-3 mb-2 pe-auto bg-white rounded justify-content-between flex-row p-2 align-items-center "
                            [ngClass]="{'isDisabled':!isActiveUser}" [routerLink]="['/my-offers']">
                            <div>
                                <img src="assets/edit.svg" width='24' height="24" class="m-1" alt="chevron-right" />
                                <a class="marketplace-items ">My Offers
                                </a>({{totalMyOffers}})
                            </div>
                            <div>
                                <img src="assets/chevron-right.svg" width='20' height="24" class="m-1"
                                    alt="chevron-right" />
                            </div>
                        </div>
                        <div class="mb-3 card d-flex w-75 shadow-sm p-3 pe-auto mb-2 bg-white rounded justify-content-between flex-row p-2 align-items-center "
                            [routerLink]="['/buyer-transactions']">
                            <div>
                                <img src="assets/file-minus.svg" width='24' height="24" class="m-1"
                                    alt="chevron-right" />
                                <a class="marketplace-items">Pending/Closed
                                    Transactions
                                </a>({{totalPendingOffer}})
                            </div>
                            <div>
                                <img src="assets/chevron-right.svg" width='20' height="24" class="m-1"
                                    alt="chevron-right" />
                            </div>
                        </div>
                        <div [routerLink]="['/buyer-notifications']"
                            class="mb-3 card d-flex w-75 shadow-sm p-3 pe-auto mb-5 bg-white rounded justify-content-between flex-row p-2 align-items-center ">
                            <div>
                                <img src="assets/bell.svg" width='24' height="24" class="m-1" alt="chevron-right" />
                                <a class="marketplace-items">Notifications </a>(0)
                            </div>
                            <div>
                                <img src="assets/chevron-right.svg" width='20' height="24" class="m-1"
                                    alt="chevron-right" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="mb-2 col-6">
                    <div class="w-25">
                        <h5>Seller</h5>
                    </div>
                    <div class="">
                        <div class="mb-3 card d-flex w-75 shadow-sm p-3 mb-2 bg-white pe-auto rounded justify-content-between flex-row p-2 align-items-center "
                            [ngClass]="{'isDisabled':!isActiveUser}" [routerLink]="['/my-listing']">
                            <div>
                                <img src="assets/tag.svg" width='24' height="24" class="m-1" alt="chevron-right" />
                                <a class="marketplace-items ">My Listings
                                </a>({{totalMyListings}})
                            </div>
                            <div>
                                <img src="assets/chevron-right.svg" width='20' height="24" class="m-1"
                                    alt="chevron-right" />
                            </div>
                        </div>

                        <div class="mb-3 card d-flex w-75 shadow-sm p-3 pe-auto mb-2 bg-white rounded justify-content-between flex-row p-2 align-items-center "
                            [routerLink]="['/seller-transactions']">
                            <div>
                                <img src="assets/file-minus.svg" width='24' height="24" class="m-1"
                                    alt="chevron-right" />
                                <a class="marketplace-items">Pending/Closed Transactions
                                </a>({{totalPendingList}})
                            </div>
                            <div>
                                <img src="assets/chevron-right.svg" width='20' height="24" class="m-1"
                                    alt="chevron-right" />
                            </div>
                        </div>
                        <div [routerLink]="['/seller-notifications']"
                            class="mb-3 card d-flex w-75 shadow-sm p-3 pe-auto mb-5 bg-white rounded justify-content-between flex-row p-2 align-items-center ">
                            <div>
                                <img src="assets/bell.svg" width='24' height="24" class="m-1" alt="chevron-right" />
                                <a class="marketplace-items">Notifications </a>(0)
                            </div>
                            <div>
                                <img src="assets/chevron-right.svg" width='20' height="24" class="m-1"
                                    alt="chevron-right" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="mb-4 col-12">
                <div class="">
                    <div class="card gap-3 shadow-sm p-3 mb-2 bg-white  rounded  p-2  ">
                        <div>
                            <img src="assets/info.svg" width='24' height="24" class="m-1" alt="chevron-right" />
                            <span class="ml-1">Important Information</span>


                        </div>
                        <div class="pl-4">
                            <a class="marketplace-items marketplace-items-disclosure"
                                [routerLink]="['/sec-disclosure']">SEC
                                Disclosure </a> <img src="assets/external-link.svg" width='24' height="24" class="m-1"
                                alt="chevron-right" />

                            <a class="marketplace-items marketplace-items-disclosure"
                                [routerLink]="['/user-agreement']">User Agreement </a><img
                                src="assets/external-link.svg" width='24' height="24" class="m-1" alt="chevron-right" />


                        </div>

                    </div>



                </div>
            </div>
        </div>

    </div>

</div>