<ng-container *ngIf="listDetails">
    <div>
        <h5 class="offer-heading">Listing Details</h5>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 col-sm-12">
            <label for="listednma" class="form-label fw-bold">Listed NMA: <small
                    class=" px-2 text-muted">{{listDetails.nma}}</small></label>
        </div>

        <div class="col-md-4 col-sm-12">
            <label for="minimumAsk" class="form-label fw-bold">Minimum Ask: <small
                    class="text-muted px-2">{{listDetails.minimumAsk |
                    currency:'':'':'.2-2'}} ({{listDetails.minimumAsk / listDetails.nma |
                    currency:'':'':'.2-2'}}/NMA)</small></label>
        </div>

        <div class="col-md-4 col-sm-12">
            <label for="buynow" class="form-label fw-bold">Buy Now: <small
                    class=" px-2 text-muted">{{listDetails.buyNowPrice |
                    currency:'':'':'.2-2'}} ({{listDetails.buyNowPrice / listDetails.nma |
                    currency:'':'':'.2-2'}}/NMA)</small></label>
        </div>
    </div>
    <div class="mt-3 d-flex flex-row ">
        <div class="col gap-2 p-0 d-flex flex-row">
            <div>
                <label for="Constraints" class="form-label fw-bold">Constraints: </label>
            </div>

            <div class="p-0">
                <ng-container *ngIf="listDetails.constraints.length > 0; else elseBlock">
                    <ul>
                        <li *ngFor="let item of listDetails.constraints">
                            {{item.constraint}}

                        </li>
                    </ul>
                </ng-container>
                <ng-template #elseBlock>
                    <ul>
                        <li>
                            No constraints / contingencies

                        </li>
                    </ul>
                </ng-template>

            </div>

        </div>
        <div class="col p-0 gap-2 flex-row d-flex">
            <div>
                <label for="comments" class="form-label fw-bold">Comments: </label>
            </div>
            <div>
                <p>{{listDetails.comments}}</p>
            </div>
        </div>
    </div>

</ng-container>