<div class="container card mt-4 pt-4 h-100">

    <div class="breadcrumb-container  mb-3">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-link">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/market-place']">MarketPlace</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/my-offers']">My Offers</a>
                </li>
            </ol>
        </nav>

    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th *ngFor="let item of offersColumns ; index as i " class="text-secondary "
                    [ngClass]="{'text-end': i > 0 }">{{item}}</th>
            </tr>
        </thead>
        <tbody class="my-listing-table-body" id="accordion">
            <ng-container *ngFor=" let offer of myOffers | paginate
            : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };
        let i = index">
                <tr class="text-end text-secondary">
                    <td class="text-start">{{offer.accountMpName}} / <span
                            class="pe-auto offer-td">{{offer.projectId}}</span></td>
                    <td class=""> {{offer.auctionEnd | date:'d MMM, y'}}</td>
                    <td>
                        {{offer.listedNMA}}
                    </td>
                    <td>{{offer.minimumAsk | currency:'':'':'4.2-2'}}</td>
                    <td>{{offer.auctionType != 'Fix Price' && !offer.auctionType.endsWith('Buy Now or Make an Offer') ?
                        "N/A" : offer.buyNowPrice | currency:'':'':'4.2-2'}}</td>
                    <td>{{offer.noOfBids}}</td>
                    <td>{{offer.auctionType.startsWith('Silent -') ? 'silent' : offer.highestBid |
                        currency:'':'':'4.2-2'}}</td>
                    <td id="heading{{i}}">
                        <span data-toggle="collapse" [attr.data-target]="'#collapse'+i" aria-expanded="false"
                            [attr.aria-controls]="'collapse'+i" class="offer-td collapsed pe-auto" title="Offer details"
                            [ngClass]="{'highest-offer':(offer.isHighestOffer  &&
                            !offer.auctionType.startsWith('Silent -') && offer.offerAmount) , 'not-highest-offer' :
                            (!offer.isHighestOffer  && !offer.auctionType.startsWith('Silent -') && offer.offerAmount)  }"
                            (click)="handleListDetails(offer.listingId , offer.offer_id)">

                            {{!offer.offerAmount ? 'make offer':offer.offerAmount |
                            currency:'':'':'4.2-2'}}
                        </span>
                    </td>

                </tr>
                <tr id="collapse{{i}}" class=" collapse fade" [attr.aria-labelledby]="'heading'+i"
                    data-parent="#accordion">
                    <td colspan="8">

                        <div class="card-body border shadow-lg p-4 mb-5 bg-white rounded">

                            <app-listing-details [listDetails]="listDetails" [offer]="offer">
                            </app-listing-details>
                            <hr>
                            <span *ngIf="listDetails">
                                <app-my-offers [constraintOptions]="constraintOptions" [newOffer]="newOffer"
                                    [offer]="offer" [listDetails]="listDetails" [statusOptions]="statusOptions"
                                    (updateOffers)="handleUpdateOffers()" [index]="i">
                                </app-my-offers>
                            </span>


                        </div>
                    </td>
                </tr>
            </ng-container>

        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)"
            *ngIf="handleLength(myOffers)">
        </pagination-controls>
    </div>

</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="line-spin-fade" [fullScreen]="true">
</ngx-spinner>