.login-field-container {
    position: relative;
}

.fa-eye,
.fa-eye-slash {
    position: absolute;
    top: 60%;
    right: 1%;
    cursor: pointer;
}

.breadcrumb-link {
    border-bottom: 2px solid #0a2b3c;
    display: inline-flex;
}

.breadcrumb-container a {
    text-decoration: none;
    color: #0a2b3c;
}

.fa-eye,
.fa-eye-slash {
    position: relative;
    cursor: pointer;
}

.w-20 {
    width: 23%;
}

.cancel-button:hover,
.cancel-button:active {
    background-color: transparent;
    color: black;
}