<div class="mt-4">
    <h5 class="offer-heading">
        <ng-container *ngIf="!isTransaction ; else elseTransactionsBlock">My Offer</ng-container>
        <ng-template #elseTransactionsBlock>
            Offer Details
        </ng-template>
    </h5>
</div>
<div class="mt-4">

    <label for="constraints" class="form-label fw-bold">Constraints / Contingencies</label>
    <div class="col-sm-10">
        <ng-container *ngIf="isTransaction; else elseBlockConstraints">
            <ul>
                <ng-container *ngIf="newOffer?.constraints?.length > 0 ; else elseBlockOffer">

                    <li *ngFor="let item of newOffer.constraints">
                        {{item.buyLabel}}
                    </li>
                </ng-container>

                <ng-template #elseBlockOffer>
                    <li>
                        No constraints
                    </li>
                </ng-template>
            </ul>
        </ng-container>
        <ng-template #elseBlockConstraints>

            <div class="form-check" *ngFor="let item of constraintOptions">
                <input class="form-check-input mt-1" type="checkbox" [(ngModel)]="item.isChecked"
                    (change)="changeSelection()" [disabled]="(offer.offer_Status == 'Accepted')"
                    [name]="item.constraint" [id]="'constraint'+item.id">
                <label>
                    {{item.buyLabel}}
                </label>
            </div>
        </ng-template>
    </div>
</div>

<div class="mt-3 row">
    <label for="comments" class="form-label fw-bold">Comments</label>
    <textarea class="form-control" [(ngModel)]="newOffer.comments" id="comments" name="comments" rows="3"
        [disabled]="(offer.offer_Status == 'Accepted') || isTransaction"></textarea>
</div>

<div class="row mt-3">
    <div class="form-inline d-flex gap-5 ">

        <div class="form-group  mb-2">
            <label for="myoffer" class="col-form-label fw-bold">
                <ng-container *ngIf="!isTransaction; else elseTransactionBlock">My Offer</ng-container>
                <ng-template #elseTransactionBlock>
                    Transaction Amount
                </ng-template>
            </label>
            <input [(ngModel)]="newOffer.offerAmount" (ngModelChange)="handleChange(offer)" class="mx-2 form-control"
                id="offerAmount" name="offerAmount" currencyMask
                [options]="{ prefix: '$', thousands: ',',precision: 0, align:'left', allowNegative: false}"
                [disabled]="offer.auctionType == 'Fix Price' || offer.auctionType == 'Direct Sale' || isTransaction"
                [ngClass]="{'border border-danger': newOffer.offerAmount < offer.minimumAsk}">
            <small class="text-muted">
                <ng-container *ngIf="isTransaction; else transactionAmount">
                    {{(newOffer.offerAmount / offer.nma) | currency:'':'':'.2-2'
                    }}/NMA
                </ng-container>
                <ng-template #transactionAmount>
                    {{(newOffer.offerAmount / offer.listedNMA) | currency:'':'':'.2-2'
                    }}/NMA
                </ng-template>
            </small>

        </div>
    </div>
    <span *ngIf="newOffer.offerAmount < offer.minimumAsk" class="text-danger rounded px-4 error-message">
        Offer must be greater than Minimum Asking Price
    </span>
</div>

<div class="my-3 row p-0" *ngIf="!isTransaction">
    <div class="accordion accordion-flush col-12" id="myOfferAccordion">
        <div class="accordion-item">
            <h5 class="accordion-header collapsed p-0 est-cashflow " id="myOffer-headingOne" data-toggle="collapse"
                data-target="#myOffer-collapseOne" aria-expanded="false" aria-controls="myOffer-collapseOne">
                Basic CashFlow Calculator <img src="assets/cash-flow.svg" width='24' height="24" class="m-0"
                    alt="chevron-right"
                    title="The Cashflow Calculator uses an exponential decline curve algorithm with customizable parameters" />


                <strong class="small float-end fw-bold est-cashflow mr-3" *ngIf="isRecalculate">
                    Est. CashFlow: {{ calculateTotalCashFlow |
                    currency:'CAD':'symbol-narrow':'.2-2'}}</strong>
            </h5>
            <div id="myOffer-collapseOne" class="accordion-collapse collapse  pt-2" aria-labelledby="myOffer-headingOne"
                data-parent="#myOfferAccordion">
                <div class="d-flex px-4 gap-4 pt-4 col-12 w-100">
                    <div class="d-inline-block pe-auto  mr-2 fw-bold">
                        <span [ngClass]="{'cashFlow-type-heading':cashFlowStatus =='Conservative'}"
                            (click)="toggleCashFlow('Conservative')">More
                            Conservative</span>
                    </div>
                    <div class="d-inline-block pe-auto  ml-2 fw-bold">
                        <span [ngClass]="{'cashFlow-type-heading':cashFlowStatus =='Standard'}"
                            (click)="toggleCashFlow('Standard')">Standard</span>
                    </div>
                    <div class="d-inline-block pe-auto   ml-2 fw-bold">
                        <span [ngClass]="{'cashFlow-type-heading': cashFlowStatus=='Assertive'}"
                            (click)="toggleCashFlow('Assertive')">More
                            Assertive</span>
                    </div>
                    <div class="d-inline-block pe-auto   ml-2 fw-bold">
                        <span [ngClass]="{'cashFlow-type-heading':cashFlowStatus =='Defaults'}"
                            (click)="toggleCashFlow('Defaults')">Defaults</span>
                    </div>
                </div>

                <div class="accordion-body  d-flex px-0 pt-4 col-12 w-100">
                    <div class="d-flex flex-column col">
                        <div>
                            <label for="months" class="form-label"># of
                                Months</label>

                            <input type="number" min="0" oninput="validity.valid||(value='');" class="form-control"
                                aria-label="# of Months" [(ngModel)]="basicCashFlow.months" id="months" name="months">
                        </div>

                    </div>
                    <div class="d-flex flex-column col">
                        <div>

                            <label for="expectedOutputDecline" class="form-label">Exp. Decline[%]
                            </label>

                            <input type="number" class="form-control" aria-label="Expected Output Decline(%)" min="0"
                                [(ngModel)]="basicCashFlow.decline" id="decline" name="decline">
                        </div>

                    </div>
                    <div class="d-flex flex-column col">
                        <div>
                            <label for="oil" class="form-label">Oil Price [BBL]
                            </label>

                            <input type="number" min="0" class="form-control" aria-label="Oil Price"
                                [(ngModel)]="basicCashFlow.oil" id="oil" name="oil">
                        </div>

                    </div>
                    <div class="d-flex flex-column col">
                        <div>

                            <label for="gas" class="form-label">Gas Price [MCF]
                            </label>

                            <input type="number" min="0" class="form-control" aria-label="Gas Price"
                                [(ngModel)]="basicCashFlow.gas" id="gas" name="gas">

                        </div>

                    </div>


                </div>


                <div class=" d-flex flex-row gap-3 px-4 float-end">
                    <div class="">
                        <span for="default" class="form-label d-inline-block text-primary pe-auto  border-primary"
                            (click)="handleSaveAsDefault(basicCashFlow)">
                            Save as default
                        </span>
                    </div>
                    <div class="">
                        <span for="recalculate" class=" form-label  d-inline-block text-primary pe-auto  border-primary"
                            (click)="handleCalculateCashFlow()">
                            Re-calculate
                        </span>
                    </div>
                </div>

            </div>


        </div>

    </div>
</div>

<div class="d-flex gap-3 mt-5">
    <ng-container *ngIf="!isTransaction">

        <button type="submit" class="btn btn-warning text-white fw-bold mb-2"
            *ngIf="(offer?.offer_Status != 'Accepted' && listDetails?.status?.status != 'Accepted')"
            [disabled]="(newOffer.offerAmount < offer.minimumAsk)" data-bs-toggle="modal"
            [attr.data-bs-target]="'#staticBackdrop'+index" (click)="handleMessage(offer)">
            {{offer.auctionType == "Fix Price" || offer.auctionType == 'Direct Sale' ||
            (offer.auctionType?.endsWith('Buy Now or Make an Offer') && newOffer.offerAmount >= offer.buyNowPrice)
            ? 'BUY NOW' : 'SUBMIT OFFER'}}</button>
        <button type="submit" class="btn btn-danger mb-2 fw-bold" data-bs-toggle="modal"
            [attr.data-bs-target]="'#exampleModal'+index" (click)="handleCancelMessage()"
            *ngIf="(newOffer.id && (offer.offer_Status != 'Accepted') && offer.auctionType != 'Fix Price' && offer.auctionType != 'Direct Sale' && offer.offer_Status != 'Cancelled' &&  listDetails.status.status != 'Accepted')">CANCEL
            OFFER</button>
    </ng-container>
    <button type="submit" class="btn btn-outline-dark cancel-button  mb-2 fw-bold" data-toggle="collapse"
        [attr.data-target]="'#collapse'+index" aria-expanded="false" [attr.aria-controls]="'collapse'+index">
        Close Panel
    </button>

</div>

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="staticBackdrop{{index}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header" *ngIf="!blockOffer">
                <h5 class="modal-title" id="staticBackdropLabel" [innerHTML]="offerDisclaimer?.value1"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="!blockOffer;else offerBlock" [innerHTML]="offerDisclaimer?.value2">
            </div>
            <ng-template #offerBlock>
                <div class="modal-body">The Buying process is blocked due to incompatible Constraints/Contingencies
                </div>
                <div class="modal-footer">
                    <div class="mr-auto ">

                        <button type="button" data-bs-dismiss="modal"
                            class="btn btn-danger ml-2 fw-bold">CANCEL</button>
                    </div>
                </div>
            </ng-template>
            <div class="modal-footer" *ngIf="!blockOffer">
                <div class="mr-auto ">

                    <button type="button" (click)="handleSubmitOffer(newOffer, offer)"
                        class="btn btn-warning text-white mr-2 fw-bold" data-bs-dismiss="modal">ACCEPT</button>
                    <button type="button" data-bs-dismiss="modal" class="btn btn-danger ml-2 fw-bold">CANCEL</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal{{index}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel" [innerHTML]="offerDisclaimer?.value1">
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" [innerHTML]="offerDisclaimer?.value2">
            </div>
            <div class="modal-footer">
                <div class="mr-auto ">

                    <button type="button" class="btn btn-warning text-white mr-2 fw-bold" data-bs-dismiss="modal"
                        (click)="handleCancelOffer(newOffer)">YES</button>
                    <button type="button" class="btn btn-danger ml-2 fw-bold" data-bs-dismiss="modal">NO</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="line-spin-fade" [fullScreen]="true">
</ngx-spinner>