<div class="d-flex m-auto  mt-5 card w-50 border-0 login-container">

    <form (ngSubmit)="handleSubmit()" #login="ngForm" class="login-form">
        <h3 class="title">Log In</h3>

        <div class=" px-4 login-field-container">
            <input type="email" id="email" name="email" class="form-control p-2 input" placeholder="Email"
                [(ngModel)]="loginForm.email" required #email="ngModel"
                [ngClass]="{'border border-danger':email.invalid && (email.dirty || email.touched)}" email>
            <i class="fa fa-envelope px-4" aria-hidden="true"></i>
        </div>
        <div *ngIf="email.invalid && (email.dirty || email.touched ) &&  email.errors"
            class="text-danger rounded px-4 error-message">
            Please enter valid email
        </div>

        <div class="mt-3 px-4 login-field-container">
            <input [type]="isPassword ? 'text' : 'password' " class="form-control p-2 input"
                [ngClass]="{'border border-danger':password.invalid && (password.dirty || password.touched)}"
                name="password " id="password" placeholder="Password" [(ngModel)]="loginForm.password" required
                #password="ngModel">
            <i class="fa fa-lock px-4" aria-hidden="true"> </i>

            <i class="fa fa-email px-4 " [ngClass]="{'fa-eye': !isPassword , 'fa-eye-slash': isPassword}"
                (click)="togglePassword()"> </i>

        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="text-danger rounded px-4 error-message ">
            Please enter password
        </div>

        <div class="mt-3  d-flex justify-content-end px-4">
            <span for="forgot_password" class="forgot-password" [routerLink]="['']"> Forgot Password?</span>
        </div>
        <div class="px-4 mt-3">
            <input type="submit" class="btn btn-warning btn-lg form-control login-button" value="Log In"
                [disabled]="login.form.invalid" />
        </div>
    </form>
</div>