<div class="h-100 d-flex m-auto  mt-5 card w-50 border-0">

    <form (ngSubmit)="handleSubmit()">
        <h3 class="text-center m-4">Log In</h3>

        <div class="mb-3 px-4 login-container">
            <input type="email" id="email" name="email" class="form-control p-2 input" placeholder="Email"
                [(ngModel)]="loginForm.email">
            <span><i class="fa fa-envelope px-4" aria-hidden="true"></i></span>

        </div>

        <div class="mb-3 px-4 login-container">
            <input [type]="isPassword ? 'text' : 'password' " class="form-control p-2 input" name="password "
                id="password" placeholder="Password" [(ngModel)]="loginForm.password">
            <i class="fa fa-lock px-4" aria-hidden="true"> </i>

            <i class="fa fa-email px-4 " [ngClass]="{'fa-eye': !isPassword , 'fa-eye-slash': isPassword}"
                (click)="togglePassword()"> </i>

        </div>
        <div class="mb-3 d-flex justify-content-end px-4">
            <a for="forgo_password" class="link-primary pe-auto" routerLink="''"> Forgot Password?</a>
        </div>
        <div class="px-4 mb-3">
            <input type="submit" class="btn btn-warning btn-lg form-control
            " value="Log in" />
        </div>
    </form>
</div>