<div class="container card mt-2 pt-4 h-100">

    <div class="breadcrumb-container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-link">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/market-place']">MarketPlace</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/my-listing']"
                        (click)="handleResetNewList()">My
                        Listings</a> </li>
            </ol>
        </nav>

    </div>

    <ng-container *ngIf="showAllListing == false; else elseBlock">


        <div class="d-flex justify-content-between mt-4 mb-3">
            <div>
                <select class="form-select form-select-lg" [(ngModel)]="listStatus"
                    (ngModelChange)="handleFilterList()">
                    <option *ngFor="let list of listingFilterOptions" [value]="list.value"> {{list.label}}</option>
                </select>
            </div>

            <button class="btn btn-warning text-white" (click)="handleToggel()"> NEW LISTING</button>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col" *ngFor="let item of listingsColumns;">{{item}}</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="my-listing-table-body">
                <ng-container *ngIf="myListings">

                    <tr *ngFor="let list of myListings">
                        <td> <span class="listing-td pe-auto">{{list.listingName}}</span>
                        </td>
                        <td>{{ list.auctionEnd | date:'MMM d, y'}}</td>
                        <td>
                            <span class="listing-td pe-auto">{{list.account.accountName}} /
                                {{list.project.projectId}}</span>
                        </td>
                        <td>{{list.nma}}</td>
                        <td>{{list.minimumAsk | currency:'CAD':'symbol-narrow':'4.2-2'}}</td>
                        <td></td>
                        <td> <span class="listing-td pe-auto float-end">2</span></td>
                        <td class="text-center">
                            <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                                data-placement="top" title="Edit" (click)="handleEdit(list)"
                                [disabled]="userId!=list?.account?.contact?.id"><i class="fa fa-edit"></i></button>
                        </td>
                    </tr>

                </ng-container>



            </tbody>
        </table>
    </ng-container>

    <ng-template #elseBlock>
        <app-add-new-listing (onGoBack)="handleToggel()"></app-add-new-listing>
    </ng-template>




</div>